{% extends '@Dsco/layout.html.twig' %}

{% block williams_dsco_content %}

    <div class="col-sm-12">
        
        <h2>New Customer</h2>

        {{ form(form) }}

        <p><a class="btn btn-default" href="{{ path('dsco_customer_list') }}">Cancel</a></p>

    </div>

{% endblock %}