<table class="table table-striped">
    <thead>
        <tr>
            <th>Order Number</th>
            <th>User</th>
            <th>Action</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for scan in scans %}
            <tr>
                <td>{{ scan.orderNumber }}</td>
                <td>{{ scan.user }}</td>
                <td>{{ scan.documentAction }}</td>
                <td>{{ scan.timestamp|date('D, d M Y h:i:s a') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
