# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    erp_server:        ~
    erp_username:      ~
    erp_password:      ~
    erp_company:       ~
    erp_appname:       ~

    connectship_api_wsdl: ~

    erp_connector_username: ~
    erp_connector_password: ~

    williams_wsdl_url: ~
    williams_username: ~
    williams_password: ~

    muffs_wsdl_url: ~
    muffs_username: ~
    muffs_password: ~

    logicbroker_ftp_host: ~
    logicbroker_ftp_user: ~
    logicbroker_ftp_pass: ~

    williams_wholesale_url: ~
