{% extends 'base.html.twig' %}

{% block pageHeader %}
    {{ knp_menu_render('AppBundle:Builder:productMenu', {'currentClass': 'active', 'template': 'AppBundle:Menu:knp_menu.html.twig'}) }}    
{% endblock %}

{% block body %}
    
    <h1>Product Lookup</h1>
    
    <form class="form-inline" action="{{ path('product_lookup_search') }}" method="get">
        <div class="form-group">
            <input class="form-control" type="text" name="searchTerms">
        </div>
        <button class="btn btn-default" type="submit">Search</button>
    </form>
    
{% endblock %}
