{% extends '@LogicBroker/layout.html.twig' %}

{% block williams_logicbroker_content %}

    <div class="col-sm-12">

        <table class="table">
            <thead>
                <tr>
                    <th>Sender Company Id</th>
                    <th>Customer Number</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td><a href="{{ path('logicbroker_customer_view', {id: item.id}) }}">{{ item.senderCompanyId }}</a></td>
                        <td>{{ item.customerNumber }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <p><a class="btn btn-primary" href="{{ path('logicbroker_customer_new') }}">Add Customer</a></p>            

    </div>

{% endblock %}