{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item Number</th>
                <th>Name</th>
                <th>Quantity Shipped</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.itemNumber }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantityShipped }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
